/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
*{      
box-sizing:border-box;
padding:0;
margin:1%;
margin-left: 3%;
margin-right: 3%;
max-width:100%;
border:0px solid grey;
font-family: 'Bangers', cursive;
/* text-align: center; */
}
button{
    background-color: white;
    border:1px groove grey;
    padding:10px;
}
header{
    display:flex;

}
a{
    color:grey;
}
.top{
    /* display:flex;
    flex-direction:row; */
    justify-content: space-around;
    color: lightgrey;
}

.intro {
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.started{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: x-large;
}
.intro-phrase{
    margin-top: 5%;
}
.top-core{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 30%; */
    height:30vh;
    border-top: 2px solid black;
    border-radius:0;
}
.fa{
    display:flex;
}
.top-core .middle-img{
    display: flex;
    justify-content: center;
    align-content: center;

}
.spv{
    display:flex;
    border-bottom: 2px solid black;
}
 .foot{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    /* margin:10%; */
} 

/* MOBIL VIEW */

@media (max-width: 500px){
    

    header{
        display:flex;
        flex-direction:column-reverse;
        line-height: 3;
    }
    .top{
        flex-direction:column;
        justify-content: center; 
        align-items: center;
        margin: 1%;
        padding-top: 0;
        padding-bottom:0;
    }
    a{
        color:grey;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid grey;
        width:150%;
    }
    .head-img{
        display: none;
    }
    h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .started{
        justify-content: center;
        align-items:center;
    } 
    .fa{
        display: flex;
        flex-direction: column;
    }
    .spv{
        display:flex;
        flex-direction:column;
    }
} 

/*  TABLET VIEW  */

@media (max-width: 800px){
    
}
